{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Consulta de roteiros</h2>
    <p>Sua origem é: {{ form.origem.value }}</p>
    <p>Sua destino é: {{ form.destino.value }}</p>
    <p>Sua Data de ida é: {{ form.data_ida.value }}</p>
    <p>Sua Data de volta é: {{ form.data_volta.value }}</p>
    <p>Data pesquisa é: {{ form.data_pesquisa.value }}</p>
    <p>Classe do vôo é: {{ form.classe_viagem.value }}</p>
    <p>Email é: {{ form.email.value }}</p>
    <p>Informações extras: {{ form.informacoes.value }}</p>
{% endblock %}
